<div class="container mt-5 w-50 d-column">
    <h1 class="text-center p-">Login</h1>
    <form action="/api/login" method="post" class="d-flex justify-content-center ">
        <ul>
            <li class="mb-2">
                <input type="text" name="email" placeholder="Email" required>
            </li>
            <li class="mb-2">
                <input type="password" name="password" placeholder="Password" required>
            </li>
            <li class="text-center">
                <input type="submit" value="Enter">
            </li>
        </ul>
    </form>
    <button class="mb-4 btn btn-success"><a href="/api/register" class="text-white">Register</a></button>
</div>

<script src="/js/index.js"></script>
